body{
    margin: 0;
    padding:0;
}
#bodystyle{
    background-color: #f2f2f2;
}
.navigation{
    display:flex;
    align-items: center;
    justify-content: center;

    background-color: #6600ff;
    
    margin-left: 10%;
    margin-right: 10%;

    border-radius: 0px 0px 15px 15px;
}
#bodystyle .navigation a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}
.navigation h1{
    margin: 20px 18% 20px 357px;

    color: white;
}
#money ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    padding: 0;
}
#money li{
    margin: 50px auto 0px;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}
li h1{
    font-size: 20px;
    text-align: center;
}
li img{
    display: flex;
    margin: auto;
    width: 80px;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
}
.result-input{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.result-input h4{
    margin: 0;
    margin-right: 10px;
    
}
.result-input input{
    font-size: 20px;
    margin-top: 4px;
    height: 37px;
    border-radius: 15px 15px 15px 15px;
    
}
#result-container{
    width: auto;
    height: 200px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.content-light{
    display: flex;
    align-items: center;
    justify-content: center;
}
#On2{
    display:none;
}
#On{
}

.bright{
    width: 70px;
    cursor: pointer;
}